
#tt853   {
	position: absolute;
	left: 350px;
	top: 110px;
	color: blue;
	font-weight: bold;
}
#pt852   {
	position: absolute;
	left: 525px;
	top: 110px;
	color: blue;
	font-weight: bold;
}
#tt807   {
	position: absolute;
	left: 340px;
	top: 290px;
	color: blue;
	font-weight: bold;
}
#pit804   {
	position: absolute;
	left: 170px;
	top: 510px;
	color: blue;
	font-weight: bold;
}
#lit805   {
	position: absolute;
	left: 260px;
	top: 595px;
	color: blue;
	font-weight: bold;
}
#tt806   {
	position: absolute;
	left: 189px;
	top: 685px;
	color: blue;
	font-weight: bold;
}
#tt808   {
	position: absolute;
	left: 410px;
	top: 670px;
	color: blue;
	font-weight: bold;
}
#pt810   {
	position: absolute;
	left: 610px;
	top: 670px;
	color: blue;
	font-weight: bold;
}

