#stepButtons{
	float: right;
	width: 200px;;
}
#tempsp{
	float: left;
	
}

#topline{
position: absolute;
top: 0px;
left: 0px;
}
#imgABV811{
	position: absolute;
	top: 725px;
	left: 675px;
	}
#imgABV812{
	position: absolute;
	top: 494px;
	left: 507px;
}
#imgABV813{
	position: absolute;
	top: 490px;
	left: 649px;
}
#imgABV814{
	position: absolute;
	top: 282px;
	left: 508px;
}
#imgABV815{
	position: absolute;
	top: 425px;
	left: 730px;
}
#imgABV816{
	position: absolute;
	top: 338px;
	left: 827px;
}
#imgABV850{
position: absolute;
top: 162px;
left: 815px;
}
#imgABV851{
position: absolute;
top: 163px;
left: 585px;
}




#imgmp516a{
position: absolute;
top: 724px;
left: 505px;
}
#imgmp516t{
position: absolute;
top: 165px;
left: 435px;
}
#d301png   {
position: relative;
left: 0px;
top: 40px;
}
#activestep   {
position: absolute;
left: 1000px;
top: 30px;
color: blue;
font-weight: bold;
}
#tt853   {
position: absolute;
left: 350px;
top: 150px;
color: blue;
font-weight: bold;
}
#jt854   {
	position: absolute;
	left: 487px;
	top: 223px;
	color: blue;
	font-weight: bold;
	}
#pt852   {
position: absolute;
left: 525px;
top: 150px;
color: blue;
font-weight: bold;
}
#tt807   {
position: absolute;
left: 340px;
top: 330px;
color: blue;
font-weight: bold;
}
#pit804   {
position: absolute;
left: 160px;
top: 585px;
color: blue;
font-weight: bold;
}
#lit805   {
position: absolute;
left: 260px;
top: 635px;
color: blue;
font-weight: bold;
}
#imglsh802 {
	position: absolute;
	left: 130px;
	top: 655px;
	color: blue;
	font-weight: bold;
}
#tt806   {
position: absolute;
left: 245px;
top: 742px;
color: blue;
font-weight: bold;
}
#tt808   {
position: absolute;
left: 410px;
top: 710px;
color: blue;
font-weight: bold;
}
#pt810   {
position: absolute;
left: 610px;
top: 710px;
color: blue;
font-weight: bold;
}
#jt809   {
	position: absolute;
	left: 550px;
	top: 780px;
	color: blue;
	font-weight: bold;
	}